/* src/App.css */
.app-container {
  padding: 20px;
}

.grid-header, .grid-row {
  display: flex;
  align-items: center;
}

.grid-cell {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  min-width: 70px;
  height: 30px;
}

.header-cell {
  font-weight: bold;
}

.task-name-cell {
  min-width: 70px;
  /* font-weight: bold; */
}

.dependent-task-cell {
  min-width: 70px;
  /* font-weight: bold; */
}

.task-bar {
  background-color: #2aa02e;
  width: 100%;
  height: 100%;
  /* border-radius: 4px; */
}

.task-editor {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.task-editor input {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.task-editor button {
  margin-top: 10px;
  margin-right: 10px;
}
